
:root {
    --aside-park-primary:#155288;
    --aside-park-primary-hover: #155288;
    --aside-park-secundary: #ffcc00;
    --aside-park-secundary-hover: #f0c001;
    --aside-park-important: #ffcc00;
    --park-aside-text:#ffffff;
  }

  *{
    box-sizing: border-box;
  }

  .mb-0-park{
    margin-bottom: 0px !important;
  }

  .mb-5-park{
    margin-bottom: 5px !important;
  }

  .mt-8-park{
    margin-top: 8px; 
  }

  .ml-15-park{
    margin-left: 20px; 
  }

  .park-relative{
    position: relative;
  }

  .flex-parks {
    display: flex;
  }

  .wrap-parks {
    flex-wrap: wrap;
  }

  .park-hidden{
    display: none;
  }

  .space-between-parks{
    justify-content: space-between;
  }
  .aside-content-parks{
    width:100%;
    background-color: rgba(0,0,0,.1);
    height: fit-content;
    border-radius: 5px;
    }

    .aside-main-parks{
        padding: 22px;
        border-radius: 5px;
        box-shadow: 0px 8px 13px #00000075;
        box-shadow: #0c4578 25px;
        background-color: var(--aside-park-primary) ;
        color: var(--park-aside-text);
        h2{
            color: var(--park-aside-text) !important;
            font-weight:  revert!important;
            font-size: 30px;
        }
        p{
            font-size: 16px;
            text-align: left;
        }
        input, select {
            width: 100%;
            padding: 10px;
            border-radius: 6px;
            margin-top: 4px;
            margin-bottom: 15px;
            color: var(--aside-park-primary);
            font-weight: 500;
            font-size: 15px;
            padding-left: 8px;
            border: 2px solid var(--aside-park-primary); // Añade un borde por defecto si lo deseas
            outline: none; // Elimina el outline al enfocar
            
            &:focus {
              box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
              border: 2px solid var(--aside-park-primary); // Cambia el color del borde al enfocar
            }
          }
          
        label{
            font-size: 13px;
        }

        .form-elements-park{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            > div {
                width: 48%; // Los divs ocuparán el ancho completo en pantallas pequeñas
          
            }

        }

        .btn-park{
            margin-top: 30px;
            margin-bottom: 12px; 
            background-color: var(--aside-park-secundary);
            padding: 11px 5px;
            display: block;
            text-align: center;
            font-weight: 700;
            color: var(--park-aside-text);
            border-radius: 4px;
            cursor: pointer; // Cursor de selección
            &:hover {
                background-color:  var(--aside-park-secundary-hover) ;
                 
                transition: all 0.3s ease; 
              }
        }
        .show-hotel{
         top:-16px;
        }
        .show-parks{
          top:-16px;
        }

        .show-hotelstours{
          background-color: white;
          padding: 10px;
          display: none;
          width: 100%; z-index:3; position: absolute; 
          max-height: 300px;
          overflow: hidden;
          overflow-y: scroll;
          border-radius: 5px;

              // Estilos para el scrollbar
            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 10px;

                &:hover {
                    background: #555;
                }
            }

          .lista{
            display:flex;
            flex-direction: row;
            padding: 10px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            list-style: none;
            transition: all .3s linear;
            -webkit-transition: all .3s linear;
            i{
              font-size: 15px;
                           font-weight: 900;
                           color: black;
            }
            span{
              margin-left: 8px;
              font-size: 16px;
              color: black;
              font-weight: 500;
            }
            small{
              font-size: 14px;
              color: #0c4578;
              margin-left: 14px;
              font-weight: 500;
            }

            &:hover {
              background-color: #c4c4c4; /* Cambia el color de fondo al pasar el cursor */
              cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
          }
          }
        }
        

    }

    .textBreads{
      font-weight: normal !important;
      font-size: 14px;
      i{
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .aside-payment-icons{
        padding: 25px ;
    }


    /*content park  cards
    ==========================================================================*/


    .box-secureguarantees .cards div i {
      font-size: 25px !important;
      margin: 0 2px;
    }

    /* media querys */

    #widgetPark{
      position: relative;
        bottom: 140px;
        z-index: 5; 
      width: 30%;
          }
      
      @media screen and (max-width: 750px) {
          #widgetPark{
            width: 80% !important ;
        bottom: 90px !important;
          }
      
      }
    
      @media screen and (max-width: 650px) {
      #widgetPark{
            bottom: 35px !important;
          }  
       }


 



  